html{
    height:100%;
    margin:0;
    font-size:16px;
    font-family:montserrat, "open Sans", helvetica, Arial, sans-serif;
    font-weight:400;
    line-height:1.8em;
    color:#666;
    align-items: center;
}

body{
    font-family: "arial", Serif;
    background-color: hsl(0, 0%, 96%);
    overflow-x: hidden;
    height:100%;
}

.navbar{
    background-color: #282e34;
    overflow: hidden;
    height:63px;
    
}

.navbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar ul{
    margin: 8px 0 0 0;
    list-style: none;
}

.navbar a:hover{
    background-color: #ddd;
    color: #000;
}

.side-nav{
    height: 100%;
    width:0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s ease;
}

.side-nav a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #cccccc;
    display: block;
    transition: 0.3s;
}
.logo{
    padding-right: 20px;
    text-decoration: none;
    font-size: 22px;
    color: #cccccc;
    transition: 0.3s;
    float: right;
}
.side-nav a:hover{
    color: #f2f2f2;
}

.side-nav .btn-close{
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 36px;
    margin-left: 50px;
}

#main{
    transition: margin-left 0.5s;
    padding: 10px;
    overflow: hidden;
    width: 100%;
}

@media(max-width:568px){
    .navbar-nav{display: none;}
    .pimg1, nav{
        background-attachment:scroll;
      }
}

@media(min-width:568px){
    .open-slide{display: none;}
}

.pimg1{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.pimg1{
    background-image: url(../img/img4.jpg);
    min-height: 100%;
}

.ptext{
    top: 50%;
    width: auto;
    text-align: left;
    color: white;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;  
    background-color: #111111;
    opacity: 0.9;
    padding: 50px 40px;
    position: center;
}

.form input{
    background-color: #111111;
    border:white;
    opacity: 1;
    color: white;
    box-shadow: white;
}

.social-media{
    background-color: #282e34;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.soc{
    display: flex;
    justify-content: left;
}

.so{
    display: inline-block;
    background-color:white;
    padding:12px 16px;
    margin: 0px 7px;
    cursor: pointer;
    transition: all 0.7s ease;
}

.so:hover{
    background-color: #47515c;
}

.so a{
    font-size: 20px;
    width: 100%;
    height: 100%;
    color: rgb(121, 143, 163);    
    transition: all 0.5s ease;
}

.so:hover a{
    color:white;
}