html{
    height:100%;
    margin:0;
    font-size:16px;
    font-family:montserrat, "open Sans", helvetica, Arial, sans-serif;
    font-weight:400;
    line-height:1.8em;
    color:#666;
}

body{
    font-family: "arial", Serif;
    background-color: hsl(0, 0%, 96%);
    overflow-x: hidden;
    height:100%;
}

.navbar{
    background-color: #282e34;
    overflow: hidden;
    height:63px;
}

.navbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar ul{
    margin: 8px 0 0 0;
    list-style: none;
}

.navbar a:hover{
    background-color: #ddd;
    color: #000;
}

.side-nav{
    height: 100%;
    width:0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s ease;
}

.side-nav a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #cccccc;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover{
    color: #f2f2f2;
}

.side-nav .btn-close{
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 36px;
    margin-left: 50px;
}

#main{
    transition: margin-left 0.5s;
    padding: 10px;
    overflow: hidden;
    width: 100%;
}

.section{
    text-align: center;
    padding: 50px 80px;
}

.section-light{
    background-color: #f4f4f4;
    color: #666;
}

.section-dark{
    background-color:#282e34;
    color:#ddd;
}

@media(max-width:568px){
    .navbar-nav{display: none;}
    .pimg1, .pimg2, .pimg3, nav{
        background-attachment:scroll;
      }
}

@media(min-width:568px){
    .open-slide{display: none;}
}

.personal{
    display: flex;
}

.personal .section{
    flex: 1;
    
}

.profile{
    width: 200px;
    height: 200px;
    float: left;
    padding: 0 25px 0 0;
}

.section-light p{
    text-align: left;
    float: right;
    padding: 0 0 50px 25px;
    margin: 0;
}

.link-d{
    background-color: white;
    color: #282e34;
    margin-top: 50px;
    text-decoration: none;
    padding: 15px;
}

.link-l{
    background-color: #282e34;
    color: white;
    margin-top: 20px;
    text-decoration: none;
    padding: 15px;
}

.pimg1, .pimg2, .pimg3{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg1{
    background-image: url('../img/img4.jpg');
    min-height: 100%;
}

.pimg2{
    background-image: url('../img/img2.jpg');
    min-height: 400px;
}

.pimg3{
    background-image: url('../img/img3.JPG');
    min-height: 400px;
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;    
}

.ptext .border{
    background-color: #111111;
    color: white;
    padding: 20px;
}

.ptext .border.trans{
    background-color:transparent;
  }

.social-media{
    background-color: #282e34;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.soc{
    display: flex;
    justify-content: left;
}

.so{
    display: inline-block;
    background-color:white;
    padding:12px 16px;
    margin: 0px 7px;
    cursor: pointer;
    transition: all 0.7s ease;
}

.so:hover{
    background-color: #47515c;
}

.so a{
    font-size: 20px;
    width: 100%;
    height: 100%;
    color: rgb(121, 143, 163);    
    transition: all 0.5s ease;
}

.so:hover a{
    color:white;
}